.usestate {
  max-width: 480px auto;
  align-items: center;
}

.Addition,
.Subtraction,
.Reset {
  height: 100px;
  width: 100px;
  border: 3px solid #61dafb;
  gap: 10px;
}

.Add,
.sub {
  font-size: 30px;
  color: #61dafb;
  margin-top: 90px;
}

.main-lists {
  margin-top: 46px;
}

.main-lists > li {
  margin-bottom: 20px;
  text-decoration: none;
  list-style: none;
}

.main-lists > li ::marker {
  font-size: 1.4rem;
  color: #61dafb;
}
.main-lists > li > span {
  display: flex;
  margin: 0;
  font-size: 1.4rem;
  color: #61dafb;
}
.delete {
  color: #91184a;
  font-size: 1.4rem;
  cursor: pointer;
}
.delete:hover {
  color: #deebf8;
}
